*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    justify-content: space-evenly;
}

.container div{
    margin: 0.5rem;
}

h1{
    text-align: center;
    color: white;
    margin-bottom: 2rem;
}

p{
    height: 100px;
    width: 100px;
    background-color: greenyellow;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    background-color: #083b4c;
}

#fizz{
    background-color: #0bd6a1;
}

#buzz{
    background-color: #ffd166;
}

#fizzbuzz{
    background-color: #f0466f;
}

#standard{
    background-color: #1389b2;
}